


.sec {
width: 700px;
height: 100px;
margin: 30px;
display: flex;
padding: 5px;
}

.sec1 {
    border: solid;
    align-items: baseline;
}

.sec2 {
    border: dotted;
    padding: 20px;
}

.purple {
    width: 30px;
    height: 70px;
    background-color: blueviolet;
    margin-top: 20px;
    padding: 5px;
}

.green {
    width: 200px;
    height: 100px;
    background-color: green;
    margin-left: 50px;
    margin-right: 50px;
}

.blue {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
}

#yellow {
    width: 700px;
    height: 100px;
    background-color: rgb(255, 250, 186);
    box-shadow: 10px 10px 20px #888;
}

#card{
    width: 300px;
    height: 250px;
    border: solid;
    border-color: #888;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 75%;
    color: blue;
}

p {
    text-align: center;
    font-size: 1.6em;
}